@model Vintagerie.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

<div class="mainHeader">

    <div class="bannerContainer">
        <div class="buySell">buy, sell, new, used</div>
        <div class="logo">
            <figure>
                <img src="~/Content/images/logo.png" alt="La vintagerie" />
            </figure>
        </div>
        <div class="bannerButtons">
            <div class="row">
                <div class="col-xs-6 register">
                    <a href="/account/register">Sing Up</a>
                </div>
                <div class="col-xs-6 learn">
                    <a href="/account/register">Learn More</a>
                </div>
            </div>
        </div>
    </div>

</div>


<section class="byCateogories">

    <div class="flowers">
        <figure>
            <img src="~/Content/images/Flowers.png" alt="Shop by categories" />
        </figure>
    </div>


    <div class="row myContainer">
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/clothing.png" alt="Clothes" />
                    <figcaption>
                        Clothes
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/jewelleries.png" alt="Jewelleries" />
                    <figcaption>
                        Jewelleries
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/home.png" alt="Home &amp; Linging" />
                    <figcaption>
                        Home &amp; Linging
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/toys.png" alt="Toys" />
                    <figcaption>
                        Toys
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="row bannerButtons">
        <div class="row">
            <div class="col-xs-6 register">
                <a href="/account/register">Sing Up</a>
            </div>
            <div class="col-xs-6 learn">
                <a href="/account/register">Learn More</a>
            </div>
        </div>
    </div>
</section>




<section class="bestProducts">
    <div class="flowers">
        <figure>
            <img src="~/Content/images/mostLiked.png" alt="Most Liked Products" />
        </figure>
    </div>

    <div class="row myContainer">

        @foreach (var product in Model.Product)
        {


            <div class="col-md-4 card">
                <figure class="mainImg">
                    <img src="http://localhost:49559/@Model.Picture.Single(s => s.Product.Id == product.Id).Path" alt="" />
                </figure>
                <div class="filterMe"></div>
                <div class="storeNameLoves">
                    <a href="#">
                        <div class="storeName">
                            @product.User.Name
                        </div>
                    </a>
                    <div class="loves">
                        <a href="#">
                            <div class="productName">@product.ProductName</div>
                        </a>
                        <div class="lovesCount">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> @product.ProductLikes
                        </div>
                    </div>
                </div>

            </div>



        }



    </div>

   
</section>


<section class="bestShops">
        <div class="flowers">
            <figure>
                <img src="~/Content/images/mostLoved.png" alt="Most loved shops" />
            </figure>
        </div>

        <div class="row myContainer">

            @foreach (var user in Model.TopUsers)
            {
                <div class="col-md-4 card">
                    <figure class="mainImg">
                        <img src="@user.PhotoProFileName" alt="@user.Name" />
                    </figure>
                    <div class="filterMe"></div>
                    <div class="storeNameLoves">
                        <a href="#">
                            <div class="storeName">
                                @user.Name
                            </div>
                        </a>
                        <div class="loves">
                            <a href="#">
                                <div class="productName">@user.CountryName</div>
                            </a>
                            <div class="lovesCount">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> @user.Loves
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>



<section class="cta">
    <div class="row bannerButtons">
        <div class="row">
            <div class="col-xs-6 register">
                <a href="/account/register">Sing Up</a>
            </div>
            <div class="col-xs-6 learn">
                <a href="/account/register">Learn More</a>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-likeDis").click(function(e) {
                var button = $(e.target);
                $.post("/api/likes", { pId: button.attr("data-productId")})
                    .done(function () {
                        var takeVal = button.parent().find(".productLikes").text();
                        if (button.text() === "Liked") {
                            button.text("Like it?");
                            parseInt(takeVal);
                            takeVal--;
                            button.parent().find(".productLikes").text(takeVal);
                        } else {
                            button.text("Liked");
                            parseInt(takeVal);
                            takeVal++;
                            button.parent().find(".productLikes").text(takeVal);
                        }
                    })
                    .fail(function() {
                        alert("Something went wrong");
                    });

            });
        })
    </script>
}
