@model Vintagerie.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

<div class="mainHeader">

    <div class="bannerContainer">
        <div class="buySell">buy, sell, new, used</div>
        <div class="logo">
            <figure>
                <img src="~/Content/images/logo.png" alt="La vintagerie" />
            </figure>
        </div>
        <div class="bannerButtons">
            <div class="row">
                <div class="col-xs-6 register">
                    <a href="/account/register">Sing Up</a>
                </div>
                <div class="col-xs-6 learn">
                    <a href="/account/register">Learn More</a>
                </div>
            </div>
        </div>
    </div>

</div>


<section class="byCateogories">

    <div class="flowers">
        <figure>
            <img src="~/Content/images/Flowers.png" alt="Shop by categories" />
        </figure>
    </div>


    <div class="row myContainer">
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/clothing.png" alt="Clothes" />
                    <figcaption>
                        Clothes
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/jewelleries.png" alt="Jewelleries" />
                    <figcaption>
                        Jewelleries
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/home.png" alt="Home &amp; Linging" />
                    <figcaption>
                        Home &amp; Linging
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <figure>
                    <img src="~/Content/images/toys.png" alt="Toys" />
                    <figcaption>
                        Toys
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>

    <div class="row bannerButtons">
        <div class="row">
            <div class="col-xs-6 register">
                <a href="/account/register">Sing Up</a>
            </div>
            <div class="col-xs-6 learn">
                <a href="/account/register">Learn More</a>
            </div>
        </div>
    </div>
</section>




<section class="bestProducts">
    <div class="flowers">
        <figure>
            <figcaption>Most liked products</figcaption>
            <img src="~/Content/images/tree.png" alt="Most Liked Products"/>
        </figure>
    </div>

    <div class="row myContainer">

        @foreach (var product in Model.Product)
        {


            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <figure class="mainImg">
                        <img src="@Model.Picture.Single(s => s.Product.Id == product.Id).Path" alt="" />
                    </figure>
                    <div class="filterMe"></div>
                    <div class="storeNameLoves">
                        <a href="@Url.Action("SingleStore", "Store", new {id = @product.User.Slug}, null)">
                            <div class="storeName">
                                @product.User.Name
                            </div>
                        </a>
                        <div class="loves row">
                            <div class="productNameDiv col-xs-9">
                                <div class="productName">
                                    <a href="@Url.Action("SingleProduct","Products", new { slug = product.Slug })">
                                        @product.ProductName
                                    </a>
                                </div>
                            </div>
                            @if (Model.Likes.Contains(product.Id))
                            {
                                <div class="lovesCount js-likeDis col-xs-3 fa fa-thumbs-up" data-productId="@product.Id">
                                    <span class="counter">
                                        @product.ProductLikes
                                    </span>
                                </div>

                            }
                            else
                            {
                                <div class="lovesCount js-likeDis col-xs-3 fa fa-thumbs-o-up" data-productId="@product.Id">
                                    <span class="counter">
                                        @product.ProductLikes
                                    </span>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>


</section>


<section class="bestShops">
    <div class="flowers">
        <figure>
            <figcaption>Most loved shops</figcaption>
            <img src="~/Content/images/tree.png" alt="Most loved shops"/>
        </figure>
    </div>

    <div class="row myContainer">

        @foreach (var user in Model.TopUsers)
            {
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <figure class="mainImg">
                        <img src="@user.PhotoProFileName" alt="@user.Name" />
                    </figure>
                    <div class="filterMe"></div>
                    <div class="storeNameLoves">
                        <a href="#">
                            <a href="@Url.Action("SingleStore", "Store", new {id = user.Slug}, null)">
                                <div class="storeName">
                                    @user.Name
                                </div>
                            </a>
                        </a>
                        <div class="loves row">
                            <div class="productName col-xs-9">
                                <a href="#">
                                    @user.CountryName
                                </a>
                            </div>
                            @if (Model.Loves.Contains(user.Id))
                            {
                                <div class="lovesCount fa fa-heart col-xs-3 js-loveDis" data-uId="@user.Id">
                                    <span class="counter">
                                        @user.Loves
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="lovesCount fa fa-heart-o col-xs-3 js-loveDis" data-uId="@user.Id">
                                    <span class="counter">
                                        @user.Loves
                                    </span>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</section>



<section class="cta">
    <div class="row bannerButtons">
        <div class="row">
            <div class="col-xs-6 register">
                <a href="/account/register">Sing Up</a>
            </div>
            <div class="col-xs-6 learn">
                <a href="/account/register">Learn More</a>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-likeDis").click(function (e) {
                var myDiv = $(e.target);
                $.post("/api/likes", { pId: myDiv.attr("data-productId") })
                    .done(function () {
                        var num;
                        if (myDiv.hasClass("fa-thumbs-up")) {
                            myDiv.removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");
                            num = parseInt(myDiv.find("span").text());
                            myDiv.find("span").text(num - 1);
                        } else {
                            myDiv.removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
                            num = parseInt(myDiv.find("span").text());
                            myDiv.find("span").text(num + 1);
                        }
                    })
                    .fail(function () {
                        alert("Something went wrong");
                    });
            });
        });

        //love store

        $(document).ready(function() {
            $(".js-loveDis").click(function(e) {
                var button = $(e.target);
                $.post("/api/loves", { Uid: button.attr("data-uId") })
                    .done(function() {
                        var num;
                        if (button.hasClass("fa-heart-o")) {
                            button.removeClass("fa-heart-o").addClass("fa-heart");
                            num = parseInt(button.find("span").text());
                            button.find("span").text(num + 1);
                        } else {
                            button.removeClass("fa-heart").addClass("fa-heart-o");
                            num = parseInt(button.find("span").text());
                            button.find("span").text(num - 1);
                        }
                    })
                    .fail(function() {
                        alert("error");
                    });
            });
        });
    </script>
}
