@model Vintagerie.Models.ApplicationUser
@{
    ViewBag.Title = "SingleStore";
}

<div class="in-side">

    <div class="storeName">
        @Model.Name
    </div>
    <div class="formDescription">
        @Model.Description
    </div>
    <div class="Country">
        @Model.CountryName
    </div>

    <div class="products">
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>@product.ProductName
                    @foreach (var pPics in product.Pictures)
                    {
                    @pPics.Path
                    }
                </li>
            }
        </ul>
    </div>
</div>

