@model Vintagerie.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add a product</h2>

@using (Html.BeginForm("SaveOrEdit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Product.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Product.ProductName)
        @Html.TextBoxFor(m => m.Product.ProductName, new { @class = "form-control", autofocus="autofocus" })
    </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Product.ProductDescription)
                @Html.TextBoxFor(m => m.Product.ProductDescription, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ProductCategory)
                @Html.DropDownListFor(m => m.Product.ProductCategoryId, new SelectList(Model.ProductCategory, "Id", "Name"), " ", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Product.ProductPrice)
                @Html.TextBoxFor(m => m.Product.ProductPrice, new { @class = "form-control" })
            </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.File, new {type = "file"})
        @Html.ValidationMessageFor(m => m.File)
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.File, new {type = "file"})
        @Html.ValidationMessageFor(m => m.File)
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.File, new {type = "file"})
        @Html.ValidationMessageFor(m => m.File)
    </div>


    if (Model.PictureInfo != null)
    {
        foreach (var pic in Model.PictureInfo)
        {

            <div class="">
                <img src="../..@pic.Path" />
                <button id="js-delete" data-imgId="@pic.Id">Delete me</button>
            </div>

        }
    }
            <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $("#js-delete").click(function(e) {
                e.preventDefault();
                console.log("delete");
                var button = $(e.target);

                $.ajax({
                    url: '/api/PicturesInProduct/' + button.attr('data-imgId'),
                    method: 'DELETE'
                }).done(function() {

                    button.parent().fadeOut('slow', function() {
                        $(this).remove();
                    });
                }).fail(function() {
                    console.log("fail");
                });


            });
        })
    </script>
}