@using Microsoft.Ajax.Utilities
@model Vintagerie.ViewModels.SingleProductViewModel
@{
    ViewBag.Title = "SingleProduct";
}

<h2>SingleProduct</h2>


<div class="in-side">

    <div class="shopInHeader myContainer">
        <div class="storeImg">
            <figure>
                <img src="@Model.Product.User.PhotoProFileName" alt="@Model.Product.User.Name"/>
            </figure>
        </div>
        <div class="storeNameLoveIt">
            <h4>
                @Model.Product.User.Name
            </h4>
            <div class="loveThisStore">
                @if (@Model.LoveThisShop)
                {
                    <div class="fa fa-heart js-loveDis" data-uId="@Model.Product.User.Id">
                        This store is already in your Loved-stores list!
                    </div>
                }
                else
                {
                    <div class="fa fa-heart-o js-loveDis" data-uId="@Model.Product.User.Id">
                        Love this store and get notified when a new product is added!
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="productContainer">
        <div class="row myContainer">
            <div class="leftSideProduct col-sm-6">
                <div class="likeProduct">like me</div>
                <div class="gallery">
                    <ul class="bxslider">
                        @foreach (var img in Model.Pictures)
                        {
                            <li><img src="@img.Path"/></li>
                        }
                    </ul>
                </div>
                <div class="productDescription">
                    <p>@Model.Product.ProductDescription</p>
                </div>
            </div>
            <div class="rightSideProduct col-sm-6">
                <div class="productTitle">
                    <h6>title</h6>
                    <h1>@Model.Product.ProductName</h1>
                </div>
                <div class="productPrice">
                    <h6>Price</h6>
                    <p>@Model.Product.ProductPrice</p>
                </div>
                <div class="productLikes">
                    <h6>Likes</h6>
                    @if (Model.LikeThisProduct)
                    {
                        <div class="lovesCount js-likeDis col-xs-3 fa fa-thumbs-up" data-productId="@Model.Product.Id">
                            <span class="counter">
                                @Model.Product.ProductLikes
                            </span>
                        </div>

                    }
                    else
                    {
                        <div class="lovesCount js-likeDis col-xs-3 fa fa-thumbs-o-up" data-productId="@Model.Product.Id">
                            <span class="counter">
                                @Model.Product.ProductLikes
                            </span>
                        </div>

                    }
                </div>
                <div class="contactSeller">
                    <p>Interested in this product?</p>
                    @Html.ActionLink("Contact Seller","MessageRoom","Messages", new { @id = Model.Product.UserId} , null)
                </div>


            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider();


            $(".js-loveDis").click(function (e) {
                var button = $(e.target);
                $.post("/api/loves", { Uid: button.attr("data-uId") })
                    .done(function () {
                        if (button.hasClass("fa-heart-o")) {
                            button.removeClass("fa-heart-o").addClass("fa-heart");
                            button.html(" This store is already in your Loved-stores list!");
                        } else {
                            button.removeClass("fa-heart").addClass("fa-heart-o");
                            button.html(" Love this store and get notified when a new product is added!");
                        }
                    })
                    .fail(function () {
                        alert("error");
                    });
            });
        });

        $(document).ready(function () {
            $(".js-likeDis").click(function (e) {
                var myDiv = $(e.target);
                $.post("/api/likes", { pId: myDiv.attr("data-productId") })
                    .done(function () {
                        var num;
                        if (myDiv.hasClass("fa-thumbs-up")) {
                            myDiv.removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");
                            num = parseInt(myDiv.find("span").text());
                            myDiv.find("span").text(num - 1);
                        } else {
                            myDiv.removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
                            num = parseInt(myDiv.find("span").text());
                            myDiv.find("span").text(num + 1);
                        }
                    })
                    .fail(function () {
                        alert("Something went wrong");
                    });
            });
        });
    </script>
}